.about-wrapper {
    height: 100%;
    overflow: hidden;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:#282828;
    color: #f0fff8;
    height: 70%;
}