.projexblog-container {
    /*background: dimgray;*/
    display: block;
    background: black;
    border-radius: 10px;
    width: 95vw;
    height: 100%;
}
.projexblog-container:hover {
    cursor:default;
}

.projexblog-x-container {
    height: 2rem;
    width: 2rem;
    position: relative;
    top: 5px;
}
.projexblog-x-container-1 {

}
.projexblog-x-icon {
    left: 5px;
    text-align: center;
    width: 3rem;
    color: #f0fff8;
    font-size: 18px;
}
.projexblog-x-container:hover {
    cursor:default;
}
.projexblog-x-icon:hover::before {
    content: "[ ";
    left: 0;
}
.projexblog-x-icon:hover::after {
    content: " ]";
    right: 0;
}

.projexblog-container-1 {
    display: flex;
    flex-direction: column;
    /*border: 0.5px solid #f0fff8;*/
    height: 58dvh;
    overflow: auto;
}

.projexblog-title-container {
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    padding-bottom: 1vh;
    align-items: center;
}
.projexblog-title-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projexblog-title {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-decoration-thickness: 0;
    color: #f0fff8;
    font-size: 22px;
    font-weight: 200;
    text-shadow: 0 0 1px #80ffc0, 0 0 5px #00ff66, 0 0 15px #00ff66, 0 0 20px #00ff66;
}
.projexblog-title:hover {
    text-decoration: underline;
    text-decoration-thickness: 0;
}
.projexblog-title-nav {
    text-align: center;
    width: 3rem;
    color: #f0fff8;
    font-size: 20px;
}

.projexblog-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.projexblog-link {
    text-align: center;
    font-size: 10px;
    color: #f0fff8;
    text-decoration: none;
}
.projexblog-link:hover {
    text-decoration: underline;
}

.projexblog-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 8vh;
}
.projexblog-description {
    text-align: center;
    font-size: 12px;
    color: #f0fff8;
    font-weight: lighter;
    /*color: dimgray;*/
    width: 98%;
}

.projexblog-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 0;
    /*border: 0.5px solid #f0fff8;*/
}
.projexblog-body-container-1 {
    width: 95%;
}
.projexblog-body {
    font-size: 12px;
    color: #f0fff8; /* almost white */
    width: 95%;
}
.projexblog-body-subtitle {
    color: #f0fff8;
    font-size: 16px;
    text-decoration: none;
}
.projexblog-body-text {
    color: #f0fff8;
    font-size: 12px;
}

.projexblog-tags-container {

}
.projexblog-tags {
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    text-decoration-thickness: 0;
    color: dimgray;
    font-size: 10px;
}