.projex-wrapper {
    height: 100%;
    overflow: auto;
}

.projex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:#282828;
    padding: 50px 0;

}

.projex-grid-container {
    padding: 1rem 1rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 4vh 4vw;
}

.projex-display-container {
    z-index: 200;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.3); /* Dim background */
    backdrop-filter: blur(3px); /* Apply blur effect */
    z-index: 100; /* Ensure it stays above other content */
}

