.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    height: max(4%, 50px);
    cursor: default;
}

.topnav-left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1.5vw;
    margin-top: 8px;
}

.topnav-left-text {
    font-size: 10px;
    font-weight: normal;
    color: dimgray;
}

.topnav-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 1.5vw;
    margin-top: 8px;
}

.topnav-right-links {
    width: min(4rem,20vw);
    font-size: 10px;
    font-weight: bolder;
    color: #f0fff8; /* almost white */
    /*text-shadow: 0 0 1px #80ffc0, 0 0 5px #00ff66, 0 0 10px #00ff66, 0 0 15px #00ff66;*/
    text-align: center;
}
.topnav-right-links:hover {
    cursor: default;
}
.topnav-right-links:hover::before {
    content: "[ "; /* Text to appear on the left side */
    left: 0; /* Position it on the left */
}
.topnav-right-links:hover::after {
    content: " ]"; /* Text to appear on the right side */
    right: 0; /* Position it on the right */
}
.topnav-right-links-selected {
    width: min(4rem,20vw);
    font-size: 10px;
    color: dimgrey; /* almost white */
    /*text-shadow: 0 0 1px #80ffc0, 0 0 5px #00ff66, 0 0 10px #00ff66, 0 0 15px #00ff66;*/
    text-align: center;
}

@media (max-width: 900px) {

    .topnav-right-links {
        margin-left: 0;
    }
    .topnav-right-links-selected {
        margin-left: 0;
    }
    .topnav-right-links-selected::before {
        content: "[ ";
        left: 0;
    }
    .topnav-right-links-selected::after {
        content: " ]";
        right: 0;
    }
    .topnav-right-links::before {
        content: "[ ";
        left: 0;
    }
    .topnav-right-links::after {
        content: " ]";
        right: 0;
    }
}
